.idea/
!.idea/icon.svg

build/
dist/
deployment/
*.egg-info/

vendor/

*.pyc

venv/
.venv/

.DS_Store

__pycache__/
.pytest_cache/
.import_linter_cache/

.python-version

pysidedeploy.spec

resources.rcc
_pysidedeploy.spec
_version.py

# compiled firmware
*.hex
*.bin
*.elf
