[app]
title = ODC Commander
project_dir = .
input_file = ODC Commander.py
exec_directory = .
project_file =
icon = {{ icon }}

[python]
python_path = {{ python_path }}
packages = Nuitka,ordered-set,zstandard,imageio

[qt]
qml_files =
excluded_qml_plugins =
modules = SerialPort,Widgets,Core,DBus,Gui
plugins = platforms/darwin,platformthemes,accessiblebridge,platforms,xcbglintegrations,iconengines,egldeviceintegrations,platforminputcontexts,imageformats,generic,styles

[nuitka]
macos.permissions =
extra_args = --quiet --no-progressbar --assume-yes-for-downloads --noinclude-qt-translations --static-libpython=no --include-package-data=odc_commander --include-data-dir=./odc_firmware=odc_firmware
